<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FEATURES_SETTINGS_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blackColor</string>
			<key>cellBackgroundColor</key>
			<string>clearColor</string>
			<key>bold</key>
			<true/>
			<key>category</key>
			<string>Features</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>HomeWallpaper</string>
			<key>label</key>
			<string>WALLPAPER_LABEL</string>
			<key>popupText</key>
			<string>WALLPAPER_POPUP</string>
			<key>category</key>
			<string>Features</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Folders</string>
			<key>label</key>
			<string>FOLDERS_LABEL</string>
			<key>popupText</key>
			<string>FOLDERS_POPUP</string>
			<key>category</key>
			<string>Features</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Backgrounder</string>
			<key>label</key>
			<string>BACKGROUNDER_LABEL</string>
			<key>textColor</key>
			<string>blueColor</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>popupText</key>
			<string>BACKGROUNDER_POPUP</string>
			<key>category</key>
			<string>Features</string>
			</dict>
    		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>detail</key>
			<string>PSListItemsController</string>
		    	<key>key</key>
			<string>Multitasking</string>
			<key>label</key>
			<string>MULTITASKING_LABEL</string>
			<key>validTitles</key>
			<array>
			<string>Manual Multitasking</string>
			<string>iOS7 Style</string>
			<string>Disabled</string>
			</array>
			<key>validValues</key>
			<array>
			<string>Multitasking</string>
			<string>iOS7Style</string>
			<string>disable</string>
			</array>
			<key>category</key>
			<string>Features</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Sara</string>
			<key>label</key>
			<string>SARA_LABEL</string>
			<key>popupText</key>
			<string>SARA_POPUP</string>
			<key>category</key>
			<string>Features</string>
			<key>reverseCapabilities</key>
			<array>
				<string>backgrounder</string>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Bruce</string>
			<key>label</key>
			<string>BRUCE_LABEL</string>
			<key>popupText</key>
			<string>BANNER_POPUP</string>
			<key>category</key>
			<string>Features</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>textColor</key>
			<string>blueColor</string>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Unibar</string>
			<key>label</key>
			<string>UNIBAR_LABEL</string>
			<key>popupText</key>
			<string>UNIBAR_POPUP</string>
			<key>category</key>
			<string>Features</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>textColor</key>
			<string>blackColor</string>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>ControlCenter</string>
			<key>label</key>
			<string>CC_LABEL</string>
			<key>popupText</key>
			<string>CC_POPUP</string>
			<key>category</key>
			<string>Features</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>textColor</key>
			<string>blackColor</string>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>AssistiveTouch</string>
			<key>label</key>
			<string>AT_LABEL</string>
			<key>popupText</key>
			<string>AT_POPUP</string>
			<key>category</key>
			<string>Features</string>
			<key>section</key>
			<string>FeatureOptions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>cellBackgroundColor</key>
			<string>clearColor</string>
			<key>category</key>
			<string>Features</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>VISUAL_SETTINGS_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blackColor</string>
			<key>cellBackgroundColor</key>
			<string>clearColor</string>
			<key>bold</key>
			<true/>
			<key>category</key>
			<string>Visual</string>
			<key>section</key>
			<string>VisualOptions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>cellBackgroundColor</key>
			<string>clearColor</string>
			<key>category</key>
			<string>Visual</string>
			<key>section</key>
			<string>VisualOptions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icon Options</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blackColor</string>
			<key>cellBackgroundColor</key>
			<string>clearColor</string>
			<key>bold</key>
			<true/>
			<key>category</key>
			<string>Visual</string>
			<key>section</key>
			<string>IconOptions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Shadows</string>
			<key>label</key>
			<string>ICONSHADOWS_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>ICON_SHADOWS_POPUP</string>
			<key>category</key>
			<string>Visual</string>
			<key>section</key>
			<string>IconOptions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.darlo770.folders</string>
			<key>key</key>
			<string>FolderEffectsEnabled</string>
			<key>label</key>
			<string>FOLDEREFFECTS_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
				<string>ios3Folders</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>FOLDER_EFFECTS_POPUP</string>
			<key>category</key>
			<string>Visual</string>
			<key>section</key>
			<string>VisualOptions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.wd7ui</string>
			<key>key</key>
			<string>iOS4Folders</string>
			<key>label</key>
			<string>iOS4FOLDERS_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
				<string>ios3Folders</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>iOS4FOLDERS_POPUP</string>
			<key>category</key>
			<string>Visual</string>
			<key>section</key>
			<string>VisualOptions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.darlo770.multitasking</string>
			<key>key</key>
			<string>SpringboardEffectsEnabled</string>
			<key>label</key>
			<string>MULTITASKINGEFFECTS_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>ios3multitasking</string>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>MULTITASKING_EFFECTS_POPUP</string>
			<key>category</key>
			<string>Visual</string>
			<key>section</key>
			<string>VisualOptions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.wd7lockscreen</string>
			<key>key</key>
			<string>Bouncy</string>
			<key>label</key>
			<string>LS_BOUNCE_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>LS_BOUNCE_POPUP</string>
			<key>category</key>
			<string>Visual</string>
			<key>section</key>
			<string>VisualOptions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.whited00r.wd7ui</string>
			<key>key</key>
			<string>launchImages</string>
			<key>label</key>
			<string>LAUNCH_IMAGES_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>LAUNCH_IMAGES_POPUP</string>
			<key>category</key>
			<string>Visual</string>
			<key>section</key>
			<string>VisualOptions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.whited00r.wd7ui</string>
			<key>key</key>
			<string>snapShotApps</string>
			<key>label</key>
			<string>SNAPSHOT_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>SNAPSHOT_POPUP</string>
			<key>category</key>
			<string>Visual</string>
			<key>section</key>
			<string>VisualOptions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.whited00r.wd7ui</string>
			<key>key</key>
			<string>iconAnimation</string>
			<key>label</key>
			<string>ICON_ANIMATION_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>ICON_ANIMATION_POPUP</string>
			<key>category</key>
			<string>Visual</string>
			<key>section</key>
			<string>IconOptions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.wd7ui</string>
			<key>key</key>
			<string>iconLaunchAnimation</string>
			<key>label</key>
			<string>ICON_LAUNCH_ANIMATION_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>ICON_LAUNCH_ANIMATION_POPUP</string>
			<key>category</key>
			<string>Visual</string>
			<key>section</key>
			<string>IconOptions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>roundSwitches</string>
			<key>label</key>
			<string>ROUND_SWITCHES_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>ROUND_SWITCHES_POPUP</string>
			<key>category</key>
			<string>Visual</string>
			<key>section</key>
			<string>VisualOptions</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>cellBackgroundColor</key>
			<string>clearColor</string>
			<key>category</key>
			<string>Visual</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NOTIFICATION_SETTINGS_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
				<string>Bruce</string>
			</array>
			<key>textColor</key>
			<string>blackColor</string>
			<key>cellBackgroundColor</key>
			<string>clearColor</string>
			<key>bold</key>
			<true/>
			<key>category</key>
			<string>Visual</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.bruce</string>
			<key>key</key>
			<string>blurBackground</string>
			<key>label</key>
			<string>LS_BACKGROUND_BLUR_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
				<string>Bruce</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>LS_BG_BLUR_POPUP</string>
			<key>category</key>
			<string>Visual</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.bruce</string>
			<key>key</key>
			<string>iOS7Style</string>
			<key>label</key>
			<string>iOS7_STYLE_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
				<string>Bruce</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>IOS7_STYLE_NOTIFICATIONS_POPUP</string>
			<key>category</key>
			<string>Visual</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.bruce</string>
			<key>key</key>
			<string>darkerBackground</string>
			<key>label</key>
			<string>DARKER_LS_BACKGROUND_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
				<string>Bruce</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>DARKER_LS_BG_POPUP</string>
			<key>category</key>
			<string>Visual</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>CellData</string>
			<key>label</key>
			<string>CELL_DATA_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>iPhone</string>
			</array>
			<key>popupText</key>
			<string>CELL_DATA_POPUP</string>
			<key>script</key>
			<string>/var/mobile/Whited00r/bin/toggleData</string>
			<key>category</key>
			<string>Features</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>cellBackgroundColor</key>
			<string>clearColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Daemons</string>
			<key>cellBackgroundColor</key>
			<string>clearColor</string>
			<key>bold</key>
			<true/>
			<key>category</key>
			<string>Daemons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Autoinstall</string>
			<key>label</key>
			<string>CYDIAAUTOINSTALL_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>AUTOINSTALL_POPUP</string>
			<key>category</key>
			<string>Daemons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Spotlight</string>
			<key>label</key>
			<string>SPOTLIGHT_LABEL</string>
			<key>popupText</key>
			<string>SPOTLIGHT_POPUP</string>
			<key>category</key>
			<string>Daemons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>AdminLite</string>
			<key>label</key>
			<string>ADMINLITE_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>FROZEN_APPS_POPUP</string>
			<key>category</key>
			<string>Daemons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>PasteBoard</string>
			<key>label</key>
			<string>COPYPASTE_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>COPYPASTE_POPUP</string>
			<key>category</key>
			<string>Daemons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Accessory</string>
			<key>label</key>
			<string>ACCESSORIES_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>ACCESSORIES_POPUP</string>
			<key>category</key>
			<string>Daemons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>AlbumArtwork</string>
			<key>label</key>
			<string>ALBUMARTWORK_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>ALBUM_ARTWORK_POPUP</string>
			<key>category</key>
			<string>Daemons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Notifications</string>
			<key>label</key>
			<string>NOTIFICATIONS_LABEL</string>
			<key>popupText</key>
			<string>NOTIFICATIONS_POPUP</string>
			<key>category</key>
			<string>Daemons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Sync</string>
			<key>label</key>
			<string>SYNC_LABEL</string>
			<key>popupText</key>
			<string>EXCHANGE_POPUP</string>
			<key>category</key>
			<string>Daemons</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>SIM</string>
			<key>label</key>
			<string>SIM_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>iPhone</string>
			</array>
			<key>popupText</key>
			<string>SIM_POPUP</string>
			<key>category</key>
			<string>Daemons</string>

		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>VPN</string>
			<key>label</key>
			<string>VPN_LABEL</string>
			<key>popupText</key>
			<string>VPN_POPUP</string>
			<key>category</key>
			<string>Daemons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Tethering</string>
			<key>label</key>
			<string>TETHERING_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>iPhone</string>
			</array>
			<key>popupText</key>
			<string>TETHERING_POPUP</string>
			<key>category</key>
			<string>Daemons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>AppStoreCheck</string>
			<key>label</key>
			<string>APPSTORECHECK_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>APP_UPDATE_CHECKS_POPUP</string>
			<key>category</key>
			<string>Daemons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>cellBackgroundColor</key>
			<string>clearColor</string>
			<key>category</key>
			<string>Daemons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>WARNING_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>redColor</string>
			<key>cellBackgroundColor</key>
			<string>clearColor</string>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ADVANCED_ADVANCED_SETTINGS_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blackColor</string>
			<key>cellBackgroundColor</key>
			<string>clearColor</string>
			<key>bold</key>
			<true/>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>ProfileJanitor</string>
			<key>label</key>
			<string>PROFILEJANITOR_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>PROFILE_JANITOR_POPUP</string>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>BlueTooth</string>
			<key>label</key>
			<string>BLUETOOTH_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>BLUETOOTH_POPUP</string>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Location</string>
			<key>label</key>
			<string>LOCATION_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>LOCATION_POPUP</string>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>CommCenter</string>
			<key>label</key>
			<string>COMMCENTER_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>COMMCENTER_POPUP</string>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>SmoothAnimations</string>
			<key>label</key>
			<string>SMOOTHANIMATIONS_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>SMOOTH_ANIMATIONS_POPUP</string>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>KeyBuzz</string>
			<key>label</key>
			<string>KEY_BUZZ_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
				<string>iPhoney</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>KEY_BUZZ_POPUP</string>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>BufferFix</string>
			<key>label</key>
			<string>VIDEOBUFFERFIX_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>VIDEO_BUFFER_POPUP</string>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>ResetFolders</string>
			<key>label</key>
			<string>RESET_FOLDERS_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
				<string>ios3Folders</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>RESET_FOLDERS_POPUP</string>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>nike_remover</string>
			<key>label</key>
			<string>NIKEREMOVER_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
				<string>nike-ipod</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>NIKEREMOVER_POPUP</string>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>font_mover</string>
			<key>label</key>
			<string>FONTMOVER_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>FONTMOVER_POPUP</string>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>audio_mover</string>
			<key>label</key>
			<string>AUDIOMOVER_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>AUDIOMOVER_POPUP</string>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>ringtone_mover</string>
			<key>label</key>
			<string>RINGTONEMOVER_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>RINGTONEMOVER_POPUP</string>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>language_remover</string>
			<key>label</key>
			<string>LANGUAGEREMOVER_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>LANGUAGEREMOVER_POPUP</string>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>dictionary_mover</string>
			<key>label</key>
			<string>DICTIONARYMOVER_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>DICTIONARYMOVER_POPUP</string>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.darlo770.multitasking</string>
			<key>key</key>
			<string>MinimizeButtonEnabled</string>
			<key>label</key>
			<string>MINIMIZEBUTTON_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>ios3multitasking</string>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>blueColor</string>
			<key>popupText</key>
			<string>MINIMIZE_POPUP</string>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>ADVANCED_UNLOCK</string>
			<key>action</key>
			<string>activateAdvanced</string>
			<key>alignment</key>
			<integer>1</integer>
			<key>reverseCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>orangeColor</string>
			<key>bold</key>
			<true/>
			<key>cellBackgroundColor</key>
			<string>whiteColor</string>
			<key>category</key>
			<string>Features</string>

		</dict>

		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Modules</string>
			<key>action</key>
			<string>showModuleList</string>
			<key>alignment</key>
			<integer>1</integer>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
				<string>modules</string>
			</array>
			<key>textColor</key>
			<string>orangeColor</string>
			<key>bold</key>
			<true/>
			<key>cellBackgroundColor</key>
			<string>whiteColor</string>
			<key>category</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>HIDE_ADVANCED_LABEL</string>
			<key>action</key>
			<string>hideAdvanced</string>
			<key>alignment</key>
			<integer>1</integer>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
			<key>textColor</key>
			<string>orangeColor</string>
			<key>bold</key>
			<true/>
			<key>cellBackgroundColor</key>
			<string>whiteColor</string>
			<key>category</key>
			<string>Features</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>cellBackgroundColor</key>
			<string>clearColor</string>
		</dict>
		</array>
	<key>title</key>
	<string>Configurator</string>
</dict>
</plist>
