<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>APPLY_LABEL</string>
			<key>action</key>
			<string>applyChanges</string>
			<key>alignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>HomeWallpaper</string>
			<key>label</key>
			<string>WALLPAPER_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Folders</string>
			<key>label</key>
			<string>FOLDERS_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Backgrounder</string>
			<key>label</key>
			<string>BACKGROUNDER_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>ios3multitasking</string>
			</array>
		</dict>
    		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>detail</key>
			<string>PSListItemsController</string>
		    	<key>key</key>
			<string>Multitasking</string>
			<key>label</key>
			<string>MULTITASKING_LABEL</string>
			<key>validTitles</key>
			<array>
			<string>Manual Multitasking</string>
			<string>Recent Apps</string>
			<string>Disabled</string>
			</array>
			<key>validValues</key>
			<array>
			<string>Multitasking</string>
			<string>AppSwitcher</string>
			<string>disable</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Sara</string>
			<key>label</key>
			<string>SARA_LABEL</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Bruce</string>
			<key>label</key>
			<string>BRUCE_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Shadows</string>
			<key>label</key>
			<string>ICONSHADOWS_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.darlo770.folders</string>
			<key>key</key>
			<string>FolderEffectsEnabled</string>
			<key>label</key>
			<string>FOLDEREFFECTS_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>ResetFolders</string>
			<key>label</key>
			<string>RESET_FOLDERS_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.darlo770.multitasking</string>
			<key>key</key>
			<string>MinimizeButtonEnabled</string>
			<key>label</key>
			<string>MINIMIZEBUTTON_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>ios3multitasking</string>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.darlo770.multitasking</string>
			<key>key</key>
			<string>SpringBoardEffectsEnabled</string>
			<key>label</key>
			<string>MULTITASKINGEFFECTS_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>ios3multitasking</string>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.wd7lockscreen</string>
			<key>key</key>
			<string>Bouncy</string>
			<key>label</key>
			<string>LS_BOUNCE_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.whited00r.wd7ui</string>
			<key>key</key>
			<string>launchImages</string>
			<key>label</key>
			<string>LAUNCH_IMAGES_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NOTIFICATION_SETTINGS_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.bruce</string>
			<key>key</key>
			<string>blurBackground</string>
			<key>label</key>
			<string>LS_BACKGROUND_BLUR_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.bruce</string>
			<key>key</key>
			<string>iOS7Style</string>
			<key>label</key>
			<string>iOS7_STYLE_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.bruce</string>
			<key>key</key>
			<string>darkerBackground</string>
			<key>label</key>
			<string>DARKER_LS_BACKGROUND_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>BufferFix</string>
			<key>label</key>
			<string>VIDEOBUFFERFIX_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>CellData</string>
			<key>label</key>
			<string>CELL_DATA_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>iPhone</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Daemons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Autoinstall</string>
			<key>label</key>
			<string>CYDIAAUTOINSTALL_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Spotlight</string>
			<key>label</key>
			<string>SPOTLIGHT_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>AdminLite</string>
			<key>label</key>
			<string>ADMINLITE_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>PasteBoard</string>
			<key>label</key>
			<string>COPYPASTE_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Accessory</string>
			<key>label</key>
			<string>ACCESSORIES_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>AlbumArtwork</string>
			<key>label</key>
			<string>ALBUMARTWORK_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Notifications</string>
			<key>label</key>
			<string>NOTIFICATIONS_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Sync</string>
			<key>label</key>
			<string>SYNC_LABEL</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>SIM</string>
			<key>label</key>
			<string>SIM_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>iPhone</string>
			</array>

		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>VPN</string>
			<key>label</key>
			<string>VPN_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Tethering</string>
			<key>label</key>
			<string>TETHERING_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>iPhone</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>AppStoreCheck</string>
			<key>label</key>
			<string>APPSTORECHECK_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>WARNING_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>ProfileJanitor</string>
			<key>label</key>
			<string>PROFILEJANITOR_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>BlueTooth</string>
			<key>label</key>
			<string>BLUETOOTH_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>Location</string>
			<key>label</key>
			<string>LOCATION_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>CommCenter</string>
			<key>label</key>
			<string>COMMCENTER_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.whited00r.configurator</string>
			<key>key</key>
			<string>SmoothAnimations</string>
			<key>label</key>
			<string>SMOOTHANIMATIONS_LABEL</string>
			<key>requiredCapabilities</key>
			<array>
				<string>advancedConfig</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>

		</array>
	<key>title</key>
	<string>Configurator</string>
</dict>
</plist>
